<div class="container main mt-4 text-center">
  <h1>Login</h1>
  <div *ngIf="loginSuccess" class="alert alert-success">{{ loginSuccess }}</div>
  <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>
  <div class="container card login">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="usuario" style="font-weight:bolder">E-mail</label>
          <input id="email" type="email" class="form-control" [(ngModel)]="email" name="email" required/>
        </div>
        <div class="form-group">
          <label for="password" style="font-weight:bolder">Senha</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required />
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 0.5rem; font-weight:bolder">Entrar</button>
      </form>
    </div>
  </div>
</div>
