
<div class="container main">
  <div class="container card login">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="usuario">E-mail</label>
          <input id="email" type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</div>
