<div class="container main mt-4 text-center">
  <h1>Dashboard</h1>
  <div class="card">
    <div class="card-header">
      Lista de Parceiros
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partner of partners">
            <td>{{ partner.firstname }}</td>
            <td>{{ partner.lastname }}</td>
            <td>{{ partner.cpf }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
