.btn-outline-danger {
  border-width: 2.5px; /* Ajuste o valor conforme necessário */
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 3px;
}

.btn-outline-danger:hover {
  border-width: 2.5px; /* Ajuste o valor conforme necessário */
  font-weight: bold;
}

.btn-outline-dark {
  border-width: 2.5px; /* Ajuste o valor conforme necessário */
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn-outline-dark:hover {
  border-width: 2.5px; /* Ajuste o valor conforme necessário */
  font-weight: bold;
}

th{
  font-weight: bold;
  font-size: x-large;
}




